<main class="main" id="top">
  <div class="container" data-layout="container">
    <%= render "shared/dashboard_sidebar" %>
    <div class="content">
      <%= render "shared/utilities_navigation" %>

      <%= render "layouts/flash" %>

      <div class="card mb-3">
        <div class="card-header bg-progress-gradient position-relative min-vh-25 mb-7">
          
         

          <div class="avatar avatar-5xl avatar-profile">
            <%= image_tag "team/man.png", class: "rounded-circle img-thumbnail shadow-sm", width: "200", alt: "" %>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <h4 class="mb-1"><%= @team_member.full_name %>
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified">
                  <small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
                </span>
              </h4>
              <h5 class=" fw-normal">
                <small>created by <%= @team_member.account.user.full_name %></span></small>                
              </h5>

              <p class="text-500"><small>created on: <%= @team_member.created_at.strftime("%a, %d %B %Y %H:%M ") %></small> | <small>updated on: <%= @team_member.updated_at.strftime("%a, %d %B %Y %H:%M ") %></small></p>
              
              <%= link_to "Back to All Team Members", team_members_path, class: "btn btn-falcon-info btn-sm px-3 " %>
              <div class="border-dashed-bottom my-4 d-lg-none"></div>
            </div>

          </div>
        </div>
      </div>



        <div class="row g-0" id="client-data">

          <div class="card mb-3">
            <div class="card-header bg-light">
              <h5 class="mb-0 text-warning fw-normal">Team Member Information</h5>
            </div>

            <div class="card-body text-justify">
              <div class="flex-1 position-relative ps-2">
                <%= render @team_member %>
              </div>
            </div>
          </div>


          <div class="card mb-3">
            <div class="card-header bg-light d-flex justify-content-between">
              <h5 class="mb-0 text-warning fw-normal">Project Tasks</h5>
            </div>

            <div class="card-body text-justify">
              <div class="flex-1 position-relative ps-2">
              <% @team_member.tasks.each do |task| %>
                <%= render "team_members/task", task: task %>
              <%end%>
                
              </div>
            </div>
          </div>

         
        

        </div>




    </div>
  </div>

</main>