
<header class="site-header site-header--menu-left dynamic-sticky-bg mt-2 mt-lg-0 menu-block-4 mb-7 mb-lg-0 site-header--absolute site-header--sticky">
  <div class="container">
    <nav class="navbar site-navbar bg-white">
    
      <div class="brand-logo">
          <%= link_to root_path do %>
            <%= image_tag 'ledger_cub_orange.png',alt: "" %>
          <%end%>
      </div>
      <div class="menu-block-wrapper ">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
            <li class="nav-item nav-item-has-children">
                <a href="#" class="nav-link-item drop-trigger">Product Benefits&nbsp; </a>
                <ul class="sub-menu" id="submenu-1">
                    <li class="sub-menu--item">
                        <a>Business owners</a>
                    </li>
                    <li class="sub-menu--item">
                        <a>Developers</a>
                    </li>
                    <li class="sub-menu--item">
                        <a>Designers</a>
                    </li>
                    <li class="sub-menu--item">
                        <a>Project Managers</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
               <%= link_to "Create an account", new_user_registration_path, class: "nav-link-item drop-trigger text-primary" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in as team member", new_team_member_session_path, class: "nav-link-item drop-trigger text-primary" %>
            </li>
            <li class="nav-item">
               <%= link_to "Sign in as account owner", new_user_session_path, class: "nav-link-item drop-trigger text-primary" %>
            </li>


          </ul>
        </nav>
      </div>

     
      <div class="mobile-menu-trigger">
          <span></span>
      </div>
     
    </nav>
  </div>
</header>