<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0" data-anchor="data-anchor">Project Details</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light">

    <%= form_with(model: project, data: {turbo: false}) do |form| %>
      <% if project.errors.any? %>
        <div style="color: red">
          <h6 class="fw-normal text-700"><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h6>

          <ul>
            <% project.errors.each do |error| %>
              <li><span class="badge bg-danger"><%= error.full_message %></span></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row gx-2">
        <div class="col-12 mb-3">
          <%= form.label :project_name, class: "form-label" %>
          <%= form.text_field :project_name, class: "form-control" %>
        </div>

        <div class="col-12 mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary" %>
        <% if project.persisted? %>
          <%= link_to "Cancel", project_path(@project), class: "btn btn-secondary me-1"%>
        <%else%>
          <%= link_to "Back to All projects", projects_path, class: "btn btn-secondary me-1" %>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
