<main class="main" id="top">
  <div class="container" data-layout="container">
    <%= render "shared/dashboard_sidebar" %>
    <div class="content">
      <%= render "shared/utilities_navigation" %>

      <!-- beginning of clients title card -->
      

      <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(<%= asset_path "illustrations/corner-4.png" %>);">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
          <div class="row">
            <div class="col-lg-8">
              <h3>Team <%= current_team_member.account.user.first_name %>'s projects</h3>
              <p class="mb-0">List of all projects</p>
            </div>
          </div>
        </div>
      </div>

      <!-- end of clients title card -->

      <!-- main content for clients index -->

      <%= render "projects/list_of_projects" %>

      <!-- end of main content list of clients -->

      
    </div>
    
  </div>

</main>