<main class="main" id="top">
  <div class="container" data-layout="container">
    <%= render "shared/dashboard_sidebar" %>
    <div class="content">
      <%= render "shared/utilities_navigation" %>

      
      <%= render "layouts/flash" %>
      <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(<%= asset_path "illustrations/corner-4.png" %>);">
        </div>
       

        <div class="card-body position-relative">
          <div class="row">
            <div class="col-lg-8">
            <% if team_member_signed_in? %>
              <h3>Team <%= current_team_member.account.user.first_name %>'s projects</h3>
            <%else%>
              <h3><%= current_user.first_name%>'s projects</h3>
            <%end%>
              <p class="mb-0">List of all projects</p>
            </div>
          </div>
        </div>
      </div>


      <%= render "projects/list_of_projects" %>

     

      
    </div>
    
  </div>

</main>